.details-slider {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 20px;
}

.details-offer {
    
    background-color: white;
    padding: 20px;

    h6 {
        font-family: monospace;
        font-size: 12px;
        list-style: 14px;
    }
    
    .details-price-qty {

        h3 {
            font-weight: bolder;
        }

        .details-neg {
            font-weight: normal;
            font-size: 14px;
        }
    }
    .details-map {
        display: flex;
        justify-content: center;
    }
    .details-btns {

        display: flex;
        justify-content: center;

        .btn {
            margin: 20px;
        }
    }
}